.roll-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.roll-button:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}

.roll-button:hover:not([disabled]) {
    background-color: #45a049;
    cursor: pointer;
}